# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [2]:
#Load from csv
weatherDf = pd.read_csv('../output_data/cities_weather.csv')
weatherDf = weatherDf.dropna().reset_index()
weatherDf

,index,City,Latitude,Longitude,Maximum_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,0,port elizabeth,-33.9180,25.5701,52.09,66.0,0.0,6.91,ZA,1.627772e+09
1,1,yellowknife,62.4560,-114.3525,82.92,44.0,20.0,11.50,CA,1.627772e+09
2,2,kodiak,57.7900,-152.4072,57.11,83.0,99.0,8.08,US,1.627772e+09
3,3,itoman,26.1247,127.6694,82.78,96.0,75.0,16.11,JP,1.627772e+09
4,4,kapaa,22.0752,-159.3190,86.32,67.0,20.0,3.00,US,1.627772e+09
...,...,...,...,...,...,...,...,...,...,...
541,603,beloha,-25.1667,45.0500,63.18,75.0,0.0,11.32,MG,1.627772e+09
542,604,salinopolis,-0.6136,-47.3561,77.43,86.0,31.0,11.65,BR,1.627772e+09
543,605,pilar,-9.5972,-35.9567,75.13,94.0,18.0,7.45,BR,1.627772e+09
544,606,huron,41.1501,-82.5499,77.68,79.0,69.0,5.03,US,1.627772e+09
545,607,beeville,28.4008,-97.7483,95.29,63.0,1.0,11.50,US,1.627772e+09

### Humidity Heatmap

In [15]:
#Creates a heatmap to show humidity intenisty
gmaps.configure(api_key=g_key)

locations = weatherDf[["Latitude", "Longitude"]]
humidLayer = weatherDf["Humidity"]

In [6]:
fig = gmaps.figure()
heatLayer = gmaps.heatmap_layer(locations, weights=humidLayer, dissipating=False, max_intensity=400, point_radius=5)

fig.add_layer(heatLayer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

In [7]:
#Finds ideal weather conditions for vacation
maskTemp1 = weatherDf['Maximum_Temp'] < 80 
sub1 = weatherDf[maskTemp1]

maskTemp2 = sub1['Maximum_Temp'] > 70 
sub2 = sub1[maskTemp2]
sub2.describe()

maskWind = sub2['Wind_Speed'] < 10 
sub3 = sub2[maskWind]
sub3.describe()

maskCloud = sub3['Cloudiness'] == 0 
idealDf = sub3[maskCloud]
idealDf.describe()

,index,Latitude,Longitude,Maximum_Temp,Humidity,Cloudiness,Wind_Speed,Date
count,14.000000,14.000000,14.000000,14.000000,14.000000,14.0,14.000000,1.400000e+01
mean,251.071429,34.715779,44.611400,73.954286,49.000000,0.0,4.905000,1.627772e+09
std,188.578270,25.888360,58.641899,2.868545,23.890777,0.0,2.629746,8.642309e+01
min,11.000000,-20.006400,-73.414000,70.380000,11.000000,0.0,0.720000,1.627772e+09
25%,93.500000,31.715175,31.131975,71.800000,27.000000,0.0,3.547500,1.627772e+09
50%,202.500000,39.319950,54.535100,73.650000,52.500000,0.0,4.605000,1.627772e+09
75%,452.000000,46.627075,63.094175,75.880000,70.000000,0.0,6.487500,1.627772e+09
max,510.000000,71.916700,126.699200,78.620000,77.000000,0.0,8.990000,1.627772e+09

In [8]:
idealDf

,index,City,Latitude,Longitude,Maximum_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
10,11,berdigestyakh,62.0989,126.6992,70.39,42.0,0.0,0.72,RU,1.627772e+09
54,58,yarmouth,41.7057,-70.2286,73.38,63.0,0.0,8.99,US,1.627772e+09
77,81,bayir,37.2687,28.2167,73.92,25.0,0.0,3.85,TR,1.627772e+09
85,90,bethel,41.3712,-73.4140,75.34,65.0,0.0,1.92,US,1.627772e+09
98,104,atyrau,47.1167,51.8833,71.62,24.0,0.0,2.24,KZ,1.627772e+09
111,120,saskylakh,71.9167,114.0833,73.00,38.0,0.0,8.75,RU,1.627772e+09
175,193,rosetta,31.4044,30.4164,78.62,75.0,0.0,3.53,EG,1.627772e+09
193,212,grand gaube,-20.0064,57.6608,70.38,76.0,0.0,5.01,MU,1.627772e+09
217,239,cap malheureux,-19.9842,57.6142,70.47,77.0,0.0,5.01,MU,1.627772e+09
405,449,shubarshi,48.5872,57.1869,76.06,11.0,0.0,4.76,KZ,1.627772e+09
408,453,wadi musa,30.3222,35.4793,72.34,33.0,0.0,3.60,JO,1.627772e+09
439,487,shiyan,32.6475,110.7781,77.95,71.0,0.0,4.45,CN,1.627772e+09
459,508,zaozerne,45.1582,33.2787,73.94,67.0,0.0,6.98,UA,1.627772e+09
460,510,dawlatabad,36.4141,64.9053,77.95,19.0,0.0,8.86,AF,1.627772e+09

### Hotel Map

In [9]:
hotelDf = idealDf[['City','Country','Latitude','Longitude']]
hotelDf.reset_index(drop=True)

              City Country  Latitude  Longitude
0    berdigestyakh      RU   62.0989   126.6992
1         yarmouth      US   41.7057   -70.2286
2            bayir      TR   37.2687    28.2167
3           bethel      US   41.3712   -73.4140
4           atyrau      KZ   47.1167    51.8833
5        saskylakh      RU   71.9167   114.0833
6          rosetta      EG   31.4044    30.4164
7      grand gaube      MU  -20.0064    57.6608
8   cap malheureux      MU  -19.9842    57.6142
9        shubarshi      KZ   48.5872    57.1869
10       wadi musa      JO   30.3222    35.4793
11          shiyan      CN   32.6475   110.7781
12        zaozerne      UA   45.1582    33.2787
13      dawlatabad      AF   36.4141    64.9053

In [10]:
#Searches for hotels in the area of each 'ideal' city
hotelLat = []
hotelLong = []
hotelName = []

for index, row in hotelDf.iterrows():
    
    target_coordinates = f"{row['Latitude']},{row['Longitude']} "
    target_radius = 5000
    target_search = "hotel"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "keyword": target_search,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    hotelData = response.json()
    try:
        hotelName.append(hotelData['results'][0]['name'])
        hotelLat.append(hotelData['results'][0]['geometry']['location']['lat'])
        hotelLong.append(hotelData['results'][0]['geometry']['location']['lng'])
    except:
        hotelName.append(np.nan)
        hotelLat.append(np.nan)
        hotelLong.append(np.nan)

In [11]:
hotelDf['Hotel_Name'] = hotelName
hotelDf['Hotel_Latitude'] = hotelLat
hotelDf['Hotel_Longitude'] = hotelLong

<ipython-input-11-6f0636dc1421>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotelDf['Hotel_Name'] = hotelName
<ipython-input-11-6f0636dc1421>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotelDf['Hotel_Latitude'] = hotelLat
<ipython-input-11-6f0636dc1421>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotelDf['Hotel_Longitude'] = hotelLong

In [12]:
hotelDf = hotelDf.dropna()

In [13]:
#Creates markers

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotelDf.iterrows()]
locations = hotelDf[["Hotel_Latitude", "Hotel_Longitude"]]

In [14]:
# Adds marker layer ontop of heat map
markers = gmaps.marker_layer(locations,display_info_box=True,info_box_content =hotel_info,)


# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))