## Heroes of Pymoli Purchase Data Analysis

In [11]:
import pandas as pd

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

Displays the Total Number of Players

In [2]:
total = len(purchase_data['SN'].unique())
totalPlayers = {'Total Players' : [total]}
tpDf = pd.DataFrame(totalPlayers, columns=['Total Players'])
tpDf.style.hide_index()

## Purchasing Analysis (Total)

Displays Analysis of Purchases as a whole

In [3]:
uniqueItems = len(purchase_data['Item Name'].unique())
totalRevenue = sum(purchase_data.Price)
totalItems = len(purchase_data.Price)
(averagePrice) =  totalRevenue / totalItems

data = {'Number of Unique Items': [uniqueItems], 'Average Price': [averagePrice], 'Number of Purchases': [totalItems], 'Total Revenue': [totalRevenue]}  
purchasingAnalysisDf =  pd.DataFrame(data)
format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'}
purchasingAnalysisDf.style.format(format_dict).hide_index()

## Gender Demographics

Displays the Gender Demographics of Purchases

In [4]:
maleTotal = len(purchase_data.loc[(purchase_data['Gender'] == 'Male'), :].drop_duplicates(subset='SN'))
malePercent = (maleTotal / total)

femaleTotal = len(purchase_data.loc[(purchase_data['Gender'] == 'Female'), :].drop_duplicates(subset='SN'))
femalePercent = (femaleTotal / total)

otherTotal = len(purchase_data.loc[(purchase_data['Gender'] == 'Other / Non-Disclosed'), :].drop_duplicates(subset='SN'))
otherPercent = (otherTotal / total)

columns = ['Total Count', 'Percentage of Players']
rows = ['Male', 'Female', 'Other/Non-Disclosed']
data1 = [(maleTotal, malePercent),(femaleTotal,femalePercent),(otherTotal,otherPercent)]
genderDemoDf = pd.DataFrame(data1,columns= columns, index= rows)
format_dict = {'Percentage of Players':'{:.2%}'}
genderDemoDf.style.format(format_dict)


## Purchasing Analysis (Gender)

Displays Analysis of Purchases by Gender

In [12]:
malePurchaseDf = purchase_data.loc[(purchase_data['Gender'] == 'Male'), :]
malePurchaseCount = len(malePurchaseDf)
malePurchaseRevenue = sum(malePurchaseDf.Price)
malePurchaseAverage = malePurchaseRevenue / malePurchaseCount
malePurchaseAveragePerson = malePurchaseRevenue / maleTotal

femalePurchaseDf = purchase_data.loc[(purchase_data['Gender'] == 'Female'), :]
femalePurchaseCount = len(femalePurchaseDf)
femalePurchaseRevenue = sum(femalePurchaseDf.Price)
femalePurchaseAverage = femalePurchaseRevenue / femalePurchaseCount
femalePurchaseAveragePerson = femalePurchaseRevenue / femaleTotal

otherPurchaseDf = purchase_data.loc[(purchase_data['Gender'] == 'Other / Non-Disclosed'), :]
otherPurchaseCount = len(otherPurchaseDf)
otherPurchaseRevenue = sum(otherPurchaseDf.Price)
otherPurchaseAverage = otherPurchaseRevenue / otherPurchaseCount
otherPurchaseAveragePerson = otherPurchaseRevenue / otherTotal

columns2 = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
rows2 = ['Female','Male','Other/Non-Disclosed']
data2 = [(femalePurchaseCount,femalePurchaseAverage,femalePurchaseRevenue,femalePurchaseAveragePerson),(malePurchaseCount,malePurchaseAverage,malePurchaseRevenue,malePurchaseAveragePerson),(otherPurchaseCount,otherPurchaseAverage,otherPurchaseRevenue,otherPurchaseAveragePerson)]
genderAnalysisDf = pd.DataFrame(data2,columns= columns2,index= rows2)
format_dict = {'Average Purchase Price':'${0:,.2f}','Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}

genderAnalysisDf.style.format(format_dict)

## Age Demographics

Divides the Purchases by Age of User

In [6]:
bins = [0,9,14,19,24,29,34,39,100]
groupNames = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
purchase_data["AgeBracket"] = pd.cut(purchase_data["Age"], bins, labels=groupNames, include_lowest=True)

nineAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '<10'), :].drop_duplicates(subset='SN'))
nineAgePercent = (nineAgeTotal / total)

fourteenAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '10-14'), :].drop_duplicates(subset='SN'))
fourteenAgePercent = (fourteenAgeTotal / total)

nineteenAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '15-19'), :].drop_duplicates(subset='SN'))
nineteenAgePercent = (nineteenAgeTotal / total)

twentyfourAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '20-24'), :].drop_duplicates(subset='SN'))
twentyfourAgePercent = (twentyfourAgeTotal / total)

twentynineAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '25-29'), :].drop_duplicates(subset='SN'))
twentynineAgePercent = (twentynineAgeTotal / total)

thirtyfourAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '30-34'), :].drop_duplicates(subset='SN'))
thirtyfourAgePercent = (thirtyfourAgeTotal / total)

thirtynineAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '35-39'), :].drop_duplicates(subset='SN'))
thirtynineAgePercent = (thirtynineAgeTotal / total)

fortyAgeTotal = len(purchase_data.loc[(purchase_data['AgeBracket'] == '40+'), :].drop_duplicates(subset='SN'))
fortyAgePercent = (fortyAgeTotal / total)


columns3 = ["Total Count","Percentage of Players"]
data3 = [(nineAgeTotal,nineAgePercent),(fourteenAgeTotal,fourteenAgePercent),(nineteenAgeTotal,nineteenAgePercent),(twentyfourAgeTotal,twentyfourAgePercent),(twentynineAgeTotal,twentynineAgePercent),(thirtyfourAgeTotal,thirtyfourAgePercent),(thirtynineAgeTotal,thirtynineAgePercent),(fortyAgeTotal,fortyAgePercent)]
ageDemoDf = pd.DataFrame(data3,columns=columns3,index=groupNames)
format_dict = {'Percentage of Players':'{:.2%}'}
ageDemoDf.style.format(format_dict)

## Purchasing Analysis (Age)

Displays the Analysis of Purchases by Age of User

In [7]:
ninePurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '<10'), :]
ninePurchaseCount = len(ninePurchaseDf)
ninePurchaseRevenue = sum(ninePurchaseDf.Price)
ninePurchaseAverage = ninePurchaseRevenue / ninePurchaseCount
ninePurchaseAveragePerson = ninePurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '<10'), :].drop_duplicates(subset='SN'))

fourteenPurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '10-14'), :]
fourteenPurchaseCount = len(fourteenPurchaseDf)
fourteenPurchaseRevenue = sum(fourteenPurchaseDf.Price)
fourteenPurchaseAverage = fourteenPurchaseRevenue / fourteenPurchaseCount
fourteenPurchaseAveragePerson = fourteenPurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '10-14'), :].drop_duplicates(subset='SN'))

nineteenPurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '15-19'), :]
nineteenPurchaseCount = len(nineteenPurchaseDf)
nineteenPurchaseRevenue = sum(nineteenPurchaseDf.Price)
nineteenPurchaseAverage = nineteenPurchaseRevenue / nineteenPurchaseCount
nineteenPurchaseAveragePerson = nineteenPurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '15-19'), :].drop_duplicates(subset='SN'))

twentyfourPurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '20-24'), :]
twentyfourPurchaseCount = len(twentyfourPurchaseDf)
twentyfourPurchaseRevenue = sum(twentyfourPurchaseDf.Price)
twentyfourPurchaseAverage = twentyfourPurchaseRevenue / twentyfourPurchaseCount
twentyfourPurchaseAveragePerson = twentyfourPurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '20-24'), :].drop_duplicates(subset='SN'))

twentyninePurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '25-29'), :]
twentyninePurchaseCount = len(twentyninePurchaseDf)
twentyninePurchaseRevenue = sum(twentyninePurchaseDf.Price)
twentyninePurchaseAverage = twentyninePurchaseRevenue / twentyninePurchaseCount
twentyninePurchaseAveragePerson = twentyninePurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '25-29'), :].drop_duplicates(subset='SN'))

thirtyfourPurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '30-34'), :]
thirtyfourPurchaseCount = len(thirtyfourPurchaseDf)
thirtyfourPurchaseRevenue = sum(thirtyfourPurchaseDf.Price)
thirtyfourPurchaseAverage = thirtyfourPurchaseRevenue / thirtyfourPurchaseCount
thirtyfourPurchaseAveragePerson = thirtyfourPurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '30-34'), :].drop_duplicates(subset='SN'))

thirtyninePurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '35-39'), :]
thirtyninePurchaseCount = len(thirtyninePurchaseDf)
thirtyninePurchaseRevenue = sum(thirtyninePurchaseDf.Price)
thirtyninePurchaseAverage = thirtyninePurchaseRevenue / thirtyninePurchaseCount
thirtyninePurchaseAveragePerson = thirtyninePurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '35-39'), :].drop_duplicates(subset='SN'))

fortyPurchaseDf = purchase_data.loc[(purchase_data['AgeBracket'] == '40+'), :]
fortyPurchaseCount = len(fortyPurchaseDf)
fortyPurchaseRevenue = sum(fortyPurchaseDf.Price)
fortyPurchaseAverage = fortyPurchaseRevenue / fortyPurchaseCount
fortyPurchaseAveragePerson = fortyPurchaseRevenue / len(purchase_data.loc[(purchase_data['AgeBracket'] == '40+'), :].drop_duplicates(subset='SN'))

columns4 = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
data4 = [(ninePurchaseCount,ninePurchaseAverage,ninePurchaseRevenue,ninePurchaseAveragePerson),(fourteenPurchaseCount,fourteenPurchaseAverage,fourteenPurchaseRevenue,fourteenPurchaseAveragePerson),(nineteenPurchaseCount,nineteenPurchaseAverage,nineteenPurchaseRevenue,nineteenPurchaseAveragePerson),(twentyfourPurchaseCount,twentyfourPurchaseAverage,twentyfourPurchaseRevenue,twentyfourPurchaseAveragePerson),(twentyninePurchaseCount,twentyninePurchaseAverage,twentyninePurchaseRevenue,twentyninePurchaseAveragePerson),(thirtyfourPurchaseCount,thirtyfourPurchaseAverage,thirtyfourPurchaseRevenue,thirtyfourPurchaseAveragePerson),(thirtyninePurchaseCount,thirtyninePurchaseAverage,thirtyninePurchaseRevenue,thirtyninePurchaseAveragePerson),(fortyPurchaseCount,fortyPurchaseAverage,fortyPurchaseRevenue,fortyPurchaseAveragePerson)]
ageAnalysis = pd.DataFrame(data4,columns=columns4,index=groupNames)
ageAnalysis.index.name = "Age Ranges" 
format_dict = {'Average Purchase Price':'${0:,.2f}','Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}

ageAnalysis.style.format(format_dict)

## Top Spenders

Displays the Top Spenders in the Data Set

In [8]:
spendTotal = purchase_data.groupby(['SN']).sum().Price
spendAverage = purchase_data.groupby(['SN']).mean().Price
spendCount = purchase_data.groupby(['SN']).count().Price

spendDfTemp = pd.DataFrame({'Purchase Count' : spendCount, 'Average Purchase Price' : spendAverage, 'Total Purchase Value' : spendTotal})
spendDf = spendDfTemp.sort_values(['Total Purchase Value'],ascending=False).head(5)
format_dict = {'Average Purchase Price':'${0:,.2f}','Total Purchase Value':'${0:,.2f}'}
spendDf.style.format(format_dict)

## Most Popular Items

The Most Popular Items by Purchase Count

In [9]:
itemCount = purchase_data.groupby(['Item Name']).count().Price
itemTotal = purchase_data.groupby(['Item Name']).sum().Price
itemPrice = itemTotal / itemCount

itemDfTemp = pd.DataFrame({'Purchase Count' : itemCount, 'Price' : itemPrice, 'Total Purchase Value' : itemTotal})
itemDf = itemDfTemp.sort_values(['Purchase Count'],ascending=False).head(5)
format_dict = {'Price':'${0:,.2f}','Total Purchase Value':'${0:,.2f}'}
itemDf.style.format(format_dict)

## Most Profitable Items

Displays Top Items by Total Purchase Value

In [10]:
itemCountP = purchase_data.groupby(['Item Name']).count().Price
itemTotalP = purchase_data.groupby(['Item Name']).sum().Price
itemPriceP = itemTotal / itemCount


itemDfPTemp = pd.DataFrame({'Purchase Count' : itemCountP, 'Price' : itemPriceP, 'Total Purchase Value' : itemTotalP})
itemDfP = itemDfPTemp.sort_values(['Total Purchase Value'],ascending=False).head(5)
format_dict = {'Price':'${0:,.2f}','Total Purchase Value':'${0:,.2f}'}
itemDfP.style.format(format_dict)